fastapi
uvicorn[standard]
pydantic
pydantic-settings
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
psycopg2-binary
psycopg[binary]
asyncpg
tavily-python
beautifulsoup4
httpx
python-dotenv
redis
duckduckgo-search
sqlalchemy
websockets
aiosqlite
greenlet
